{% extends 'base.html' %}
{% block title %}
Index Page
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Default Card</h5>
        Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi
        necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis
        expedita. Consequatur sint repellendus voluptas.
        Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor
        nulla quia ut.
        Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="/login" class="btn btn-primary">Go Login Page</a>
      <a href="/register" class="btn btn-primary">Go Register Page</a>
      <a href="/table_1" class="btn btn-primary">Go Table Page</a>
      <a href="/form" class="btn btn-primary">Go Form Page</a>
    </div>
  </div>
{% endblock %}